---
import { getCollection } from "astro:content";


const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <div>
                <h4>{post.data.title}</h4>
                <p>{post.data.description}</p>
            </div>
            <img src={post.data.heroImage} alt={post.data.title}/>
          </a>
        </li>
      ))
    }
  </ul>
</section>
