---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---


	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a class="w-[40rem] h-auto" href={`/blog/${post.slug}/`}>
              <FormattedDate date={post.data.pubDate} />
							<img
								src={post.data.heroImage}
								alt={post.data.title}
							/>
							<div class="flex flex-col min-h-10">
								<h4>{post.data.title}</h4>
								<p
                class="text-xl text-white"
                >{post.data.description}</p>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</section>
