---
import Title from "../components/atoms/Title.astro";
import { getCollection } from 'astro:content';
import Boton from "./atoms/Boton.astro";
import FormattedDate from "./FormattedDate.astro";
import CardBlog from "./CardBlog.astro";
const posts = (await getCollection('blog')).sort(
(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<section id="blog" class="flex flex-col items-center w-full h-full md:max-w-full  justify-center flex-wrap px-4">

  <Title contenido="Mis artículos" margin="2rem"/>
  <div class="flex self-center gap-[20px] justify-center min-w-[30rem]  md:max-w-full flex-wrap flex-col md:flex-row">
    {
      posts.slice(0, 3).map((post) => (
        <CardBlog
        title={post.data.title}
          content={post.data.description}
          img={post.data.heroImage}
          href={`/blog/${post.slug}/`}>

         <FormattedDate  slot="date" clase="text-white" date={post.data.pubDate}/>
         </CardBlog>
      ))
    }
  </div>
  <div class="flex justify-center m-5 max-w-full px-3">
    <Boton href="/blog" texto="Ver mas"/>
  </div>
</section>
