---
const { title, img, content,href } = Astro.props;
---

<a href={href} class="block rounded-xl overflow-hidden hover:shadow-lg">
  <img
    alt={title}
    src={img}
    class="h-56 w-full rounded-bl-xl rounded-tr-xl object-cover sm:h-64 lg:h-72"
  />
  <div class="p-4 bg-fuchsia-200">
    <h2 class="text-2xl font-semibold">{title}</h2>
    <p class="mt-2 text-base">{content}</p>
  </div>
</a>
